body {
    background: #282a36;
    color: #f8f8f2;
    font-family: Open Sans, Arial;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
}

a {
    color: #bd93f9;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background: #f8f8f2;
        color: #282a36;
    }

    a {
        color: #5C6EB8;
    }
}