*,*:before,*:after
{
	box-sizing: inherit;
}




html
{
	font-family:sans-serif;
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

body
{
	margin: 0;
}

hr
{
	border-top: 1px solid #eee;
	margin: 20px 0;
}

img
{
	vertical-align: middle;
}

.btn,.button
{
	text-decoration: none;
	text-align: center;
}

h1
{
	font-size: 70px;
}

h2
{
	font-size: 30px;
}

h3
{
	font-size: 24px;
}



.sidebar
{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	overflow: auto;
}

.bar .button
{
	white-space: normal;
}

.bar-block .bar-item
{
	width: 100%;
	display: block;
	padding: 10px 16px;
	text-align: left;
	float: none;
}

.bar-block.center .bar-item
{
	text-align: center;
}

.block
{
	display: block;
	width: 100%;
}




.main,#main
{
	transition: margin-left .4s;
}

.content,.auto
{
	margin-left: auto;
	margin-right: auto;
}

.content
{
	max-width: 980px;
}

.auto
{
	max-width: 1140px;
}




.bar .bar-item
{
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

.bar .dropdown-hover,.w3-bar .w3-dropdown-click
{
	position: static;
	float: left;
}

.bar .button
{
	white-space: normal;
}

.border-grey
{
    border: 2px solid grey;
    border-radius: 5px
    ;padding: 1em;
}




.small
{
	font-size: 15px;
}

.medium
{
	font-size: 20px;
}

.large
{
	font-size: 60px;
}




.padding-16
{
    padding: 12px 24px
}

.padding-24
{
	padding-top: 24px;
	padding-bottom: 24px;
}

.padding-32
{
	padding-top: 32px;
	padding-bottom: 32px;
}

.padding-64
{
	padding-top: 64px;
	padding-bottom: 64px;
}




.center
{
	text-align: center;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.left-align
{
	text-align: left;
}

.right-align
{
	text-align: right;
}




.button:hover
{
	color: #000;
	background-color: #ccc;
}

.transparent,.hover-none:hover
{
	background-color: transparent;
}

.hover-none:hover
{
	box-shadow: none;
}

.hide
{
	display: none;
}

.opacity,.hover-opacity:hover
{
	opacity: 0.50;
}




a
{
	color: inherit;
}

.white,.hover-white:hover
{
	color: #000;
	background-color: #fff;
}

.text-light-grey,.hover-text-light-grey:hover,.text-light-gray,.hover-text-light-gray:hover
{
	color: #f1f1f1;
}

.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover
{
	color: #888888;
}

.text-dark-grey,.hover-text-dark-grey:hover,.text-dark-gray,.hover-text-dark-gray:hover
{
	color: #3a3a3a;
}

.black,.hover-black:hover
{
	color: #fff;
	background-color: #000;
}




@media (min-width:993px)
{
	.modal-content
	{
		width: 900px;
	}

	.hide-large
	{
		display: none;
	}

	.sidebar.collapse
	{
		display: block;
	}
}

@media (max-width:1205px)
{
	.auto
	{
		max-width: 95%;
	}
}

@media (max-width:600px)
{
	.modal-content
	{
		margin: 0 10px;
		width: auto;
	}

	.modal
	{
		padding-top: 30px;
	}

	.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content
	{
		position: relative;
	}

	.hide-small
	{
		display: none;
	}

	.mobile
	{
		display: block;
		width: 100%;
	}

	.bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile
	{
		text-align: center;
	}

	.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button
	{
		width: 100%;
	}
}

.bar .bar-item
{
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

.bar .dropdown-hover,.w3-bar .w3-dropdown-click
{
	position: static;
	float: left;
}

.bar .button
{
	white-space: normal;
}

@media (max-width:768px)
{
	.modal-content
	{
		width: 500px;
	}

	.modal
	{
		padding-top: 50px;
	}
}

@media (min-width:993px)
{
	.modal-content
	{
		width: 900px;
	}

	.hide-large
	{
		display: none;
	}

	.sidebar.collapse
	{
		display: block;
	}
}

@media (max-width:992px) and (min-width:601px)
{
	.hide-medium
	{
		display: none;
	}
}

@media (max-width:992px)
{
	.sidebar.collapse
	{
		display: none;
	}

	.main
	{
		margin-left: 0;
		margin-right: 0;
	}

	.auto
	{
		max-width: 100%;
	}
}
